{% extends "layout.njk"%}

{% block head%}

<title>Sobre - Vini Vibeiro</title>

{% endblock %}

{% block content %}

    <div id="wrapper" style="text-decoration: firebrick;">
           <img src="https://avatars3.githubusercontent.com/u/48262427?s=460&u=ad9ac289551d12e41b95d12dd659c68458a2b913&v=4" alt="Vinin Ribeiro">
           <h1>Vinicius-Ribeiro</h1>    
           <h2>Desenvolvedor</h2>
           <p>Programador Full-Stack, focado nas tecnologias mais atuais do mercado.</p>
       </div>
       <div id="links-footer" class="links">
            <a href="https://github.com/vininribeiro23" target="_blank">Github</a>
            <a href="https://br.linkedin.com/in/vinicius-ribeiro-409761186" target="_blank">Linkedin</a>
        </div>
        {% endblock %}
 